.container {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; */
  padding: 0 5px
}

p {
  border: 2px dashed;
}

.col-6 {
  /* 12 divided by 2 = 6 , 100% divided by 2 = 50%*/
   width: 50%;
   float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-4 {
  width: 33.33%;
  float: left;
}